 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A Game Design and Development student from <a href="https://www.mq.edu.au/" style="color:red;">Macquarie University</a> with a passion for level and narrative design. Proficient in C#, ShaderLab, ShaderGraph and Unity with considerable experience in Java. Using my development skills to fuel my design</p>
                </div>
                <div class="col-lg-4">
                 <p>My Itch page can be found <a href="https://scara2016.itch.io/" style="color:red;">here</a> Also a fan of narratives told through the medium itself, amatuer love of writing and a life lived as a forever DM. You can find me trying to look for the next design problem to solve  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/scara2016/scara2016.github.io/raw/master/CV/GuriqbalSinghMajhail.pdf" attributes-list download class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
